/*
	AUTHOR: Fábio Pereira da Silva
	YEAR: 2019
	LICENSE: MIT
	EMAIL: fabioegel@gmail.com or fabioegel@protonmail.com

	Adaptive Cards css style
*/
.typing-img {
	margin-left: 30px;
	width: 50px;
	height: 50px;
}

.ac-pushButton
{
     background-color: white; /* Green */
	border: 2px solid #555555;
	color: black;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 4px 2px;
	cursor: pointer;

	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.ac-pushButton:hover {
	background-color: #555555;
     color: white;
}

.ac-textInput
{
	min-width: 180px;
	border: 2px solid #555555;
	border-radius: 8px;
	resize: none;
}

.ac-input
{
	min-width: 180px;
	min-height: 25px;
	border: 2px solid #555555;
	border-radius: 8px;
	resize: none;
}
.ac-multiline
{
	min-height:90px;
}

